* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

body{
  background: $sitebackground;
  font-family: $mainfontstack;
}

div.site{
  min-height: 100%;
  height: 100%;
  position: relative;
}

header{
  background: $siteheader;
  height: 60px;
  padding: 10px 0;
  text-align: center;
  width: 100%;

  h1.title {
    font-family: 'Thirsty Script', cursive;
    font-weight: normal;

    a{
      color: $white;
      text-decoration: none;
    }
  }
}

nav {
  background: $sitenav;
  margin: 10px 0;
  padding: 3% 5%;
  width: 100%;

  a {
    color: #000000;
    padding: 1% 2%;
    text-decoration: none;

    @media screen and (max-width: $break-tablet - 1px) {
      background: rgba(255,255,255,.5);
      display: inline-block;
    }

    &:visited {
      color: #000000;
    }
  }

  @media screen and (min-width: $break-tablet) {
      margin: 10px 1%;
      width: 98%;
    }

  @media screen and (min-width: $break-desktop) {
    float: right;
    margin: 1% 0 1% 0;
    padding: 1% 0% 1% 1.5%;
    min-width: 200px;
    width: 20%;

    a {
      border-radius: 10px 0 0 10px;
      clear: both;
      display: block;
      float: right;
      height: 2rem;
      padding-left: 1rem;
      line-height: 2rem;
      transition: all 1s;
      width: 50%;

      &:hover{
        background: rgba(0,0,0,.4);
        width: 100%;
        // -webkit-transform: rotateX(50deg);
      }
    }
  }
}

section, article {
  background: $post;
  width: 100%;

  p{
    text-indent: 2em;
  }
}

section {
  min-height:70%;
  padding: 3% 5%;

  @media screen and (min-width: $break-tablet) {
    margin:0 1%;
    width: 98%;
  }

  @media screen and (min-width: $break-desktop) {
    // border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    float: left;
    margin: 1% 0 1% 1%;
    padding: 1% 1%;
    width: 78%;
  }
}

footer {
  bottom: 0;
  background: $siteheader;
  margin: 10px 0 0 0;
  padding: 20px 15px;
  position: relative;

  @media screen and (min-width: $break-desktop) {
    clear: both;
    padding-left: 2%; 
    padding-right: 2%;
  }
}