* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

body{
  background: $sitebackground;
  font-family: $mainfontstack;
}

div.site{
  min-height: 100%;
  height: 100%;
  position: relative;
}

header{
  background: $siteheader;
  height: 60px;
  padding: 10px 0;
  text-align: center;
  width: 100%;

  h1.title {
    font-family: 'Thirsty Script', cursive;
    font-weight: normal;

    a{
      color: $white;
      text-decoration: none;
    }
  }
}

nav {
  background: $sitenav;
  margin: 10px 0;
  padding: 10px 15px;
  width: 100%;

  @media screen and (min-width: $break-tablet) {
      margin: 10px 1%;
      width: 98%;
    }

  @media screen and (min-width: $break-desktop) {
    float: right;
    margin: 1% 0 1% 0;
    min-width: 200px;
    width: 20%
  }
}

section, article {
  background: $post;
  width: 100%;
}

section {
  padding: 20px 15px;

  @media screen and (min-width: $break-tablet) {
    margin:0 1%;
    width: 98%;
  }

  @media screen and (min-width: $break-desktop) {
    float: left;
    margin: 1% 0 1% 1%;
    width: 78%;
  }
}

footer {
  bottom: 0;
  background: $siteheader;
  margin: 10px 0 0 0;
  padding: 20px 15px;
  position: relative;

  @media screen and (min-width: $break-desktop) {
    clear: both;
  }
}