---
name: Sengert WD
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
      <div class="site">
        <header>
          <h1 class="title"><a href="/">{{ page.name }}</a></h1>
        </header>
        <nav>
          <a class="extra" href="/">Home</a>
          <a href="/about_me.html">About Me</a>
        </nav>

        <section>
            {{ content }}
        </section>
        <footer>
          <div class="contact">
            <p>
              Scott Engert<br />
              Web Design<br />
              <a href="mailto:sengert15@gmail.com">sengert15@gmail.com</a>
            </p>
          </div>
          <div class="contact">
            <p>
              <a href="http://github.com/sengertwd/">github.com/sengertwd</a><br />
              <a href="https://twitter.com/scott_engert">twitter.com/scott_engert</a><br />
            </p>
          </div>
        </footer>
      </div>
    </body>
</html>
